@media screen and (min-width: 480px) and (max-resolution: 1.5dppx) and (orientation: landscape) {
	.lcmlogo {
		float: left;
	}
	
	.and {
		float: left;
	}
}


body {
	margin: 0;
	background-color: #333;
}

header {
	margin: 0;
	padding-top: calc( (100vw - 480px)/(1280 - 480) * (3 - 2) + 2vh);
	padding-bottom: calc( (100vw - 480px)/(1280 - 480) * (4 - 3) + 3vh);
	padding-left: calc( (100vw - 480px)/(1280 - 480) * (3 - 2) + 2vh);
	height: calc( (100vw - 480px)/(1280 - 480) * (6 - 5) + 5vh);
	background-color: #1d8eea;
}

header h1 {
	margin: 0;
	padding: 0;
	padding-left: calc( (100vw - 480px)/(1280 - 480) * (2 - 1) + 2vw);
}

header .ttclogo {
	width: calc( (100vw - 480px)/(1280 - 480) * (15 - 10) + 10vh);
	float: left;
}

.name {
	padding-left: 80px;
}

.main {
	width: max-content;
	margin: 0 auto;
	margin-top: calc( (100vw - 480px)/(1280 - 480) * (60 - 8) + 8vh);
}

.main .lcmlogo {
	width: calc( (100vw - 480px)/(1280 - 480) * (350 - 220) + 220px);
}

.main .and {
	margin-left: calc( (100vw - 480px)/(1280 - 480) * (50 - 20) + 20px);
	margin-right: calc( (100vw - 480px)/(1280 - 480) * (65 - 20) + 20px);
	margin-top: calc( (100vw - 480px)/(1280 - 480) * (90 - 30) + 30px);
}

.and h1 {
	font-size: calc( (100vw - 480px)/(1280 - 480) * (100 - 90) + 90px);
	text-align: center;
	margin: 0;
}

.main .ttclogo {
	width: calc( (100vw - 480px)/(1280 - 480) * (400 - 250) + 250px);
	margin-top: calc( (100vw - 480px)/(1280 - 480) * (50 - 30) + 30px);
}

h1 {
	font-size: calc( (100vw - 480px)/(1280 - 480) * (6 - 5) + 5vh);
	color: #fff;
	font-family: cursive;
}